@use 'main';

.tabel {
  position: absolute;
  top: 5%;
  right: 2%;
  width: 10em;
  padding: 1em;
  background-color: main.$blue;
  border-radius: 0.5em;

  &__score {
    display: flex;
    flex-direction: column-reverse;
    padding-inline: 1em;
    &-item {
      color: orange;
      text-align: right;
    }
    &-item:before {
      content: attr(data-score);
    }
    &-item:after {
      content: ' $';
    }
  }
}

.save {
  color: main.$white;
}
.current-score {
  color: main.$green;
  animation: pulse 2s forwards;
}

.btn-widthraw {
  margin-top: 1em;
}
.btn-close-table {
  position: absolute;
  top: 6%;
  left: 10%;

  visibility: hidden;

  @media screen and (max-width: 850px) {
    visibility: visible;
  }
}
.btn-mute {
  position: absolute;
  top: 6%;
  left: 4%;
  width: 2em;
  height: 2em;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}
