.welcome {
  min-height: 100vh;
  background-image: url('/img/background-welcome.jpg');
  background-position: center;
  background-size: cover;

  &__logo {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -60%);
    object-fit: cover;
  }

  &__btns {
    display: flex;
    flex-direction: column;
    gap: 1em;
    position: absolute;
    top: 70%;
    left: 50%;
    transform: translate(-50%, -30%);
  }
}
